<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="パソコンで使うことを前提としたWeb電卓です。キーボード操作で実際の電卓のように片手で使用可能です。簿記を勉強していて手元に電卓がなかったので作りました。同じように実際の電卓を持っていない人に使ってもらいていです。">
    <meta name="keywords" content="電卓, 簡易電卓, Web電卓, パソコン電卓, 簿記, 簿記３級, キーボード, 片手, onehand, dentakuonehand, ない人, キーボード電卓">
    <meta name="google-site-verification" content="Gt-aBiyt2EfqBbCT9AdquKb-i_3NIvTE0BOqhmzoDro" />
    <title>片手で使えるWeb電卓</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </body>
</html>
